.navbar {
  padding: 2rem;
  background-color: var(--navbar-bg-color-light);
  color: var(--navbar-title-color-light);

  display: flex;
  align-items: center;
  gap: 10px;
  
  i{
    cursor: pointer;
  }
}
