.dashboardZone {
  .dashboard {
    display: flex;
    padding: 1rem;
    min-height: calc(100vh - 80px);
    flex-direction: column;
    background-color: var(--bg-light);

    .logo {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

      color: var(--title-color-light);

      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 20px;
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;
      background: var(--bg-search-light);
      border-radius: 8px;
      padding: 0.9rem 0.7rem;

      input {
        padding: 0.5rem;
        outline: none;
        border: none;
        font-size: 1.1rem;
        background-color: transparent;
        color: #fff;
      }

      svg {
        height: 25px;
      }
    }
  }
}

.dashboard--open {
  display: flex;
}