.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem;
  margin: 0.8rem 0;
  color: #526581;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.1s linear;
  cursor: pointer;
  border: none;
  background-color: transparent;

  span {
    padding: 0 0.5rem;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #8491a5;
  }

  .board-name {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }

  .message {
    display: grid;
    place-items: center;
    font-size: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f2f4f6;
  }

  &:hover {
    background-color: var(--item-hover-bg);
    color: #fff;

    .message {
      color: #526581;
    }

    svg {
      fill: #fff !important;
    }
  }

  &:focus {
    background-color: var(--item-active-bg);
    color: #fff;

    .type {
      svg {
        width: 30px;
        height: 30px;
        fill: #fff !important;
      }
    }

    svg {
      fill: #fff;
    }

    .message {
      color: #526581;
    }
  }
}
